.button
  display inline-flex
  align-items center
  border 0
  height 30px
  font-size 12px
  line-height 14px
  font-weight 500
  background-color transparent
  padding 8px

  &:hover
    cursor pointer

  &_square
    height 30px
    width 30px

  &_rounded
    border 1px solid $muted
    border-radius 50rem

  &__icon
    width 14px
    height 14px
    display flex
    align-items center
    justify-content center

    &_left
      margin-right 5px
